<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
</section>
<div style="flex">
<p>To get started, login to your GitHub Account: </p>
<p style="display: flex; align-items: center;">
  <a href={@oauth_github_url} style="display: flex;">
    <img src="https://i.imgur.com/qwoHBIZ.png" alt="Sign in with GitHub" />
  </a>
</p>
</div>
